{% extends 'base.html.twig' %}

{% block title %}Vaca Meet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}">
{% endblock %}

{% block body %}

    <h1>Bienvenue au {{ app.user.nomCamping}} <h1>
    <p> {{ app.user.email }}</p>
   

{% endblock %}
