{% extends 'base.html.twig' %}

{% block title %}Confirm your Email{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/confirmation_email.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Hi! Please confirm your email!</h1>
    <p>
        Please confirm your email address by clicking the following link: <br><br>
        <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
        This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
</div>
{% endblock %}
