.hidden-column {
    display: none;
}
/* Ajouter les styles CSS mentionnés ci-dessus */
#structure-table-container {
    height: 40vh;
    overflow-y: auto;
    margin-top: 20px; /* Marge supplémentaire au-dessus du tableau */
}

#structure-table {
    width: 100%;
}

.table-header {
    text-align: center;
    margin-bottom: 20px;
}

.table-header h1 {
    margin-bottom: 10px;
}

.add-structure-button {
    margin-bottom: 10px;
}