{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/planning.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Planning Hebdomadaire</h1>
    <div id="planning-table" class="table-responsive">
        <!-- Le planning sera chargé ici -->
    </div>
</div>

<!-- Inclure le script externe -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ asset('js/planning.js') }}"></script>
{% endblock %}
